/* Maim colors

white #FFFFFF;
accente-color #2196F3; 

--Background--
bg-primary-color #E5E5E5;
bg-secondery-color #F5F4FA; 

--Text--
text-secondery-color #212121;
text-primary-color #757575;
text-contacts-color rgba(255, 255, 255, 0.6);

*/
:root{
    --white: #FFFFFF;
    --accente-color: #2196F3;
    --bg-primary-color: #E5E5E5;
    --bg-secondery-color: #F5F4FA;
    --text-secondery-color: #212121;
    --text-primary-color: #757575;
    --text-contacts-color:  rgba(255, 255, 255, 0.6);
}
body{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-secondery-color); 
}
/* header*/
.header{
    background: var(--white);
}
.header ul{
    list-style: none ;
}
/* Navigation */
.nav-link{
    color: var(--text-secondery-color); 
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accente-color);
}
/* Contact links */
.header .contact-link{
    color: var(--text-primary-color);
}
.contact-link{
    color: var(--text-contacts-color) ;
} 
.contact-link:hover,
.contact-link:focus{
    color: var(--accente-color);
} */

/* footer{
background:#2F303A;       
}
