/* Maim colors

white #FFFFFF;
accente-color #2196F3; 

--Background--
bg-primary-color #E5E5E5;
bg-secondery-color #F5F4FA; 

--Text--
text-secondery-color #212121;
text-primary-color #757575;
text-contacts-color rgba(255, 255, 255, 0.6);

*/
/* Standart style */
:root{
    --white: #FFFFFF;
    --accente-color: #2196F3;
    --bg-bright-color: #FFFFFF;
    --bg-dim-color:#F5F4FA ;
    --bg-primary-color: #2F303A;
    --text-secondery-color: #212121;
    --text-primary-color: #757575;
    --text-contacts-color:  rgba(255, 255, 255, 0.6);
} 
/* def ul-list */
ul{
    list-style: none;
}

body{
    background-color: var(--bg-bright-color);
    /* background: var(--bg-primary-color); */
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header*/
header{
    background: var(--white);
}
/* footer */
footer{
    background: var(--bg-primary-color);
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-secondery-color); 
}

/* Links */
a:focus,
a:hover{
    color: var(--accente-color);
}
/* Contact links */
header .contact-link{
    color: var(--text-primary-color);
}
.contact-link{
    color: var(--text-contacts-color) ;
} 
.contact-link:hover,
.contact-link:focus{
    color: var(--accente-color);
}  
.map-link{
    color: var(--white);
}
/* Navigation */
.nav-link{
    color: var(--text-secondery-color); 
}
.curent-page{
    color: var(--accente-color);
}

/* logo */
.logo{
    color: #2196F3;
}

.logo:hover,
.logo:focus{
    color: #000;
} 


/* Buttons */
.button{
    background: var(--bg-bright-color);
    color: var(--text-secondery-color);
}
.button:hover,
.button:focus{
    background:var(--accente-color);
    color: var(--white);
}
.accente-button{
    background: var(--accente-color);
    color: var(--bg-bright-color);
}
.accente-button:focus,
.accente-button:hover{
    background: var(--bg-bright-color);
    color: var(--accente-color);
}

/* index.html style */

/*sections background */
.bg-bright{
    background: var(--bg-bright-color);
}

.bg-dim{
    background: var(--bg-dim-color);
}

/* Section one Buisnes solution */
.buisnes-solution{
    background: var(--bg-primary-color);
}
.buisnes-solution-title{
    color: var(--white);
}

/* portfolio.html */

.catalog-link{
    color: aqua;
}
