/* Maim colors

white #FFFFFF;
accente-color #2196F3; 

--Background--
bg-primary-color #E5E5E5;
bg-secondery-color #F5F4FA; 

--Text--
text-secondery-color #212121;
text-primary-color #757575;
text-contacts-color rgba(255, 255, 255, 0.6);

main font-family: Roboto, sans-serif;
logo font-family Raleway;

*/
/* Standart style */
:root{
    --white: #FFFFFF;
    --accente-color: #2196F3;
    --bg-bright-color: #FFFFFF;
    --bg-dim-color:#F5F4FA ;
    --bg-primary-color: #2F303A;
    --text-secondery-color: #212121;
    --text-primary-color: #757575;
    --text-contacts-color:  rgba(255, 255, 255, 0.6);
} 
/* def ul-list */
ul{
    list-style: none;
}

body{
    background-color: var(--bg-bright-color);
    color: var(--text-primary-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* header*/
header{
    background: var(--white);
}
/* footer */
footer{
    background: var(--bg-primary-color);
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-secondery-color); 
    font-weight: 700;
    line-height: 1.15;
}
h1{
    font-weight: 900;
    line-height: 1,36;
}
h2{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* Links */
a{
    text-decoration: none;
    font-weight: inherit;
    font-style: normal;
}
a:focus,
a:hover{
    color: var(--accente-color);
}

/* Contact links */
header .contact-link{
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-link{
    color: var(--text-contacts-color);
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 0.03em;
} 
.contact-link:hover,
.contact-link:focus{
    color: var(--accente-color);
}  
.map-link{
    color: var(--white);
}
/* Navigation */
.nav-link{
    color: var(--text-secondery-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.curent-page{
    color: var(--accente-color);
}

/* logo */
.logo{
    color: #2196F3;
    text-decoration: none;

    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.black-logo{
    color: var(--text-secondery-color);
}
.white-logo{
    color: var(--white)  ;
}

.logo:hover,
.logo:focus{
    color: var(--accente-color);
} 


/* Buttons */
.button{
    background: var(--bg-bright-color);
    color: var(--text-secondery-color);
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
}
.button:hover,
.button:focus{
    background:var(--accente-color);
    color: var(--white);
}
.accente-button{
    background: var(--accente-color);
    color: var(--bg-bright-color);
}
.accente-button:focus,
.accente-button:hover{
    background: var(--bg-bright-color);
    color: var(--accente-color);
}
.order-button{
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    text-align: center;
}

/* index.html style */

/*sections background */
.bg-bright{
    background: var(--bg-bright-color);
}

.bg-dim{
    background: var(--bg-dim-color);
}

/* Section one Buisnes solution */
.buisnes-solution{
    background: var(--bg-primary-color);
}
.buisnes-solution-title{
    color: var(--white);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.why-us h3{
    font-size: 14;
    text-transform: uppercase;
    text-align: center;
}
.team{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team h3{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* portfolio.html */

.catalog-link{
    color: var(--bg-primary-color);
}
.catalog-link:focus,
.catalog-link:hover{
    color: var(--bg-primary-color);
    text-decoration: underline;
}
